<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstantSnip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InstantSnip.Properties.Settings>
            <setting name="SnipName" serializeAs="String">
                <value>Capture</value>
            </setting>
            <setting name="SnipLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowSnipOverwriting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowDeletingPictureAfterSnipping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeBeforeDeletingPicture" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="IsCopyImageToClipBoard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCopyUriToClipboard" serializeAs="String">
                <value>False</value>
            </setting>
        </InstantSnip.Properties.Settings>
    </userSettings>
</configuration>
